<div class="wrapper" id="newsletter">
  <h2>📬 Stay updated</h2>

  <form action="{{ site.newsletter }}" method="post">
    <div class="email-group">
      <label for="email" class="sr-only">Email</label>
      <input type="email" name="email" id="subscribe" placeholder="your-email@something.net" required>
      <button class="button">Subscribe</button>
    </div>
  </form>

  <p>
    We will send you <em>project highlights</em> once in a while.
  </p>
</div>

<footer class="site-footer h-card">
 <data class="u-url" href="{{ "/" | relative_url }}"></data>

 <div class="wrapper">

   <h2 class="footer-heading">{{ site.title | escape }}</h2>

   <div class="footer-col-wrapper">
     <div class="footer-col footer-col-3">
       <ul class="contact-list">
         {% if site.slackin %}
           <li>🗣 <a class="u-email" href="{{ site.slackin }}" title="Join us on Slack on the channel #{{ site.slack_channel }}">Talk to us on Slack</a></li>
         {% endif %}
         {% if site.email %}
           <li>✍️ <a class="u-email" href="mailto:{{ site.email }}">Send us an email</a></li>
         {% endif %}
         {% if site.newsletter %}
           <li>💌 <a class="u-url" href="{{ site.newsletter }}">Subscribe to our newsletter</a></li>
         {% endif %}
         {% if site.github_project %}
           <li>📦 <a class="u-url" href="{{ site.github_project }}">Browse source  code and datasets</a></li>
         {% endif %}
       </ul>
     </div>

     <div class="footer-col footer-col-3">
      {{ site.footer_description | markdownify }}
     </div>
   </div>

 </div>

</footer>
