---
title: Un système gratuit et ouvert pour mesurer les inégalités et la qualité de vie dans les villes
menu_title: France 🇫🇷
layout: home
lang: fr
---

<section class="intro">
  <header class="wrapper">
    <h1 class="site-title">{{ site.title }}</h1>

    <div class="description">
      <p>
        Mind the Gaps est un <strong>système gratuit et ouvert</strong>
        pour mesurer les inégalités et la qualité de vie dans les villes.
      </p>

      <p>Plusieurs outils et méthodes sont à votre disposition
      pour produire des données à partir de témoignages citoyens.</p>

      <p>Ces informations complètent les données statistiques nationales en
      privilégiant une <strong>approche qualitative au niveau des quartiers</strong>.</p>
    </div>
  </header>
</section>



<section id="features">
  <ul class="grid grid--align-center">
    <li>
      <header>
      {% include icon.html id="guide" class="icon icon--banner" %}
      </header>

      <h2 class="bold">Guide d'entretiens</h2>

      <p>
        Un guide pour aller à la rencontre du public.<br>
        Adaptez les questions à votre ville et amorcez l'enquête.
      </p>
    </li>
    <li>
      <header>
      {% include icon.html id="conversation" class="icon icon--banner" %}
      </header>

      <h2 class="bold">Enquête conversationnelle</h2>

      <p>
        Dressez le portrait de votre quartier grâce à un formulaire
        en ligne et sur papier.
      </p>
    </li>
    <li>
      <header>
      {% include icon.html id="data" class="icon icon--banner" %}
      </header>

      <h2 class="bold">Données ouvertes</h2>

      <p>
        Des ressources en libre accès pour compléter des données existantes.
      </p>
    </li>
  </ul>
</section>

<section id="locations">
  <header class="wrapper">
    <h1>Villes pilotes</h1>
  </header>

  <ul class="grid grid--align-center">
    {% for city in site.data.cities %}
    <li>
      <header>
        {% include icon.html id="city" class="icon icon--banner" %}
      </header>

      <h2 class="bold">
        {{ city.name }}
        {{ site.flags[ city.country ] }}
      </h2>

      <ul class="actions">
        {% if city.survey %}
        <li><a href="{{ city.survey.form_url }}" class="cta">Répondre au questionnaire</a></li>
        <li><a href="{{ city.survey.data_url}}" class="cta">Télécharger les données</a></li>
        {% else %}
        <li><a href="#" class="cta cta--disabled">Répondre au questionnaire</a></li>
        <li><a href="#" class="cta cta--disabled">Télécharger les données</a></li>
        {% endif %}
      </ul>
    </li>
    {% endfor %}

    <li>
      <header>
        {% include icon.html id="city" class="icon icon--banner" %}
      </header>

      <h2 class="bold">Chez vous ?</h2>

      <ul class="actions">
        <li><a href="mailto:{{ site.email }}?subject=À+propos+du+pilote" class="cta">Nous contacter</a></li>
      </ul>
    </li>
  </ul>
</section>

<section id="principles">
  <header class="wrapper">
    <h1>Nos principes</h1>
  </header>

  <div class="wrapper">
    <ul class="grid grid--seemless grid--align-center">
     <li>
       {% include icon.html id="tick" class="icon icon--large" %}
       <br>
       Ouvert
     </li>
     <li>
       {% include icon.html id="tick" class="icon icon--large" %}
       <br>
       Réplicable
     </li>
     <li>
       {% include icon.html id="tick" class="icon icon--large" %}
       <br>
       Participatif
     </li>
     <li>
       {% include icon.html id="tick" class="icon icon--large" %}
       <br>
       Indépendant
     </li>
     <li>
       {% include icon.html id="tick" class="icon icon--large" %}
       <br>
       Inclusif
     </li>
    </ul>
   </div>
</section>
