.icon {
	display: inline-block;
	vertical-align: middle;
}

.icon--large {
	height: 40px;
	width: 40px;
}

.icon--huge {
	height: 140px;
	width: 140px;
}

.icon--banner {
	height: 125px;
	margin-bottom: -1em;
	width: 125px;
}
