<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

 {% include head.html stylesheet="/assets/research.css" %}

 <body>
  {% assign title = site.title | append: ' • Research' %}
  {% include header.html title=title menu_pages=site.research_header_pages home="/research/" %}

   <main class="page-content" aria-label="Content">
     <div class="wrapper">
       {{ content }}
     </div>
   </main>

   {% include en/newsletter.html %}
   {% include en/footer.html %}

 </body>

</html>
