---
layout: default
---

{% assign definitions = site.data.glossary%}

{% if content %}
<section class="intro">
  {{ content }}
</section>
{% endif %}

<section>
  <ul class="post-list">
    {% for definition in definitions %}
      <li id="{{ definition[0] | slugify }}">
        <h2>{{ definition[0] }}</h2>

        {{ definition[1].definition | default: definition[1] | markdownify }}

        {% if definition[1].credit %}
        <p><strong>Credits</strong>:
        {% for url in definition[1].credit %}
        <a href="{{ url }}" rel="noopener" target="_blank">{{ url | replace: 'www.', '' | split: "/" | slice: 2, 1 }}</a>{% if forloop.last == false %}, {% endif %}
        {% endfor %}
        </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</section>
