---
layout: default
---

{% assign definitions = site.data.glossary | sort %}

{% if content %}
<section class="intro">
  {{ content }}
</section>
{% endif %}

<section>
  <ul class="post-list">
    {% for definition in definitions %}
      <li id="{{ definition[0] | slugify }}">
        <h2>{{ definition[0] }}</h2>

        {{ definition[1].definition | default: definition[1] | markdownify }}
        
        {% if definition[1].credit %}
        <p><strong>Credits</strong>: {{ definition[1].credit }} </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</section>
