---
layout: default
---

{% assign recent_posts = site.posts | slice: 0,2 %}

<section class="intro">
  {{ content }}
</section>

<section id="features">
  <ul class="grid grid--3">
  {% for feature in site.features %}
  <li>
    <img src="https://fillmurray.com/g/300/150?{{ forloop.index }}" alt="">

    <h2>{{ feature.title }}</h2>

    {{ feature.excerpt | markdownify }}
  </li>
  {% endfor %}
  </ul>
</section>

<section class="jumbotron h1">
  A mixed-methods approach.
</section>


<section id="principles" class="jumbotron">
  <h1>Our Principles</h1>

  <ul class="grid">
    <li>✅ Open</li>
    <li>✅ Replicable</li>
    <li>✅ Independant</li>
    <li>✅ Accessible</li>
  </ul>
</section>
